# Ignore system and config files
.dockerignore
.git
.gitignore
README.md
.vscode

# Ignore log and cache files
*.log
.cache

# Ignore local development environment
node_modules/
local/
dist/
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local

# Ignore SvelteKit build output
.svelte-kit/

# Ignore GitHub Actions workflow files
.github

# Ignore Dockerfile
Dockerfile
