.dockerignore
.git
.gitignore
README.md
.vscode

*.log
.cache

node_modules/
local/
dist/
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local

.svelte-kit/

.github

Dockerfile
